{% extends 'layout.html' %}

{% block content %}
    <script type="text/javascript">
        {% if lats and lngs and markers %}
            let lats = {{ lats }};
            let lngs = {{ lngs }};
            markers = {{ markers }};
            pins = [];
            function initMap() {
                let map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: lats[0], lng: lngs[0]},
                    zoom: 12,

                  });
                for (var i = 0; i < markers.length; i++) {
                    pins.push(new google.maps.Marker({
                        position: {lat: markers[i][0], lng: markers[i][1]},
                    }));
                }
                console.log(pins);
                for (var j = 0; j < pins.length; j++){
                    console.log(pins[i]);
                    pins[j].setMap(map);
                }


            }
        {% endif %}
    </script>



    {% if message %}
        <h3 class="message">{{ message }}</h3>
    {% endif %}
    {% include "header.html" %}

    <div class="form_body ">
        <form method="post" , action="{{ url_for('locationSearch_form') }}">
            <input type="text" id="search" name="search" placeholder="Enter postcode" > <br><br><br>
            <input type="submit" class="pink_button" value="Search">
        </form>
    </div>

    <div class="results">
        <hr>
        {% if results %}
            {% if search %}
                <h5>Service providers near: {{ search.upper() }}</h5>
            {% endif %}
            <ul>
                {% for result in results %}
                    <li class="clearfix">
                        <div class="pic_name">
                            {% if result[7] %}
                                <img src="data:image/png;base64,{{ result[7] }}"/>
                            {% else %}
                                <img src="/static/images/profileImage_placeholder.png">
                            {% endif %}
                            <p>{{ result[4] }} {{ result[4][0] }} </p>
                            <a class="pink_link" href="/profile?user_id={{ result[0] }}">Go to profile</a>
                        </div>

                        <div class="image_grid">
                            <img src="/static/images/profileImage_placeholder.png">
                            <img src="/static/images/profileImage_placeholder.png">
                            <img src="/static/images/profileImage_placeholder.png">
                            <br>
                            <img src="/static/images/profileImage_placeholder.png">
                            <img src="/static/images/profileImage_placeholder.png">
                            <img src="/static/images/profileImage_placeholder.png">
                        </div>
                        <br>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {% if search %}
                <h5>We do not have service providers near: {{ search.upper() }}</h5>
            {% else %}
                <h5>We do not have service providers in that area!</h5>
            {% endif %}

        {% endif %}
    </div>
    <div class="mapContainer" >
        <div id="map" style="width:100%; height:500px;"></div>
    </div>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7ClnuMIcTBKFDMY5zHn1yTmCPa9Yif5Q&libraries=places&callback=initMap" defer></script>
{% endblock content %}