{% extends 'layout.html' %}
{% block content %}
    {% include "header.html" %}
    <div class="form_body">
        <form method="post", action="{{ url_for('passwordChange') }}">
            <input type="password" id="current" name="current" placeholder="Enter your Current Password" value=""><br>
            <input type="password" id="new" name="new" placeholder="Enter your New Password" ><br>
            <input type="password" id="new_confirm" name="new_confirm" placeholder="Enter your New Password again" ><br><br>
          <input class="pink_button" type="submit" value="Confirm">
        </form>
    </div>
{% endblock content %}